In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import bs4 as bs
import urllib.request

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable sortable')

In [6]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [7]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,1,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],NaN
1,JANUARY,13,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
2,JANUARY,14,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3],NaN
3,JANUARY,15,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4],NaN
4,JANUARY,15,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5],NaN
...,...,...,...,...,...,...,...
351,DECEMBER,22,Sing 2,Universal Pictures / Illumination,Garth Jennings (director/screenplay); Matthew ...,NaN,[270]
352,DECEMBER,22,The King's Man,20th Century Studios / Marv Studios,Matthew Vaughn (director/screenplay); Karl Gaj...,NaN,[115]
353,DECEMBER,25,The Tragedy of Macbeth,A24 / Apple TV+ / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[271]
354,DECEMBER,25,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[272]
355,DECEMBER,25,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[273]

In [8]:
df_2021 = df[['Title','Cast and crew']]
df_2021

                      Title                                      Cast and crew
0       Shadow in the Cloud  Roseanne Liang (director/screenplay); Max Land...
1           The White Tiger  Ramin Bahrani (director/screenplay); Adarsh Go...
2               Locked Down  Doug Liman (director); Steven Knight (screenpl...
3                   The Dig  Simon Stone (director); Moira Buffini (screenp...
4          Outside the Wire  Mikael Håfström (director); Rob Yescombe, Rowa...
..                      ...                                                ...
351                  Sing 2  Garth Jennings (director/screenplay); Matthew ...
352          The King's Man  Matthew Vaughn (director/screenplay); Karl Gaj...
353  The Tragedy of Macbeth  Joel Coen (director/screenplay); Denzel Washin...
354    A Journal for Jordan  Denzel Washington (director); Virgil Williams ...
355       American Underdog  Erwin brothers (directors); Jon Erwin, David A...

[356 rows x 2 columns]

In [9]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (1.7.5)
Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from tmdbv3api) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (2.0.1)

WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [10]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'd145eee15593afdad80a14199acc0a3f'

In [11]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [12]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [13]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [14]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [15]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [16]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [17]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [18]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [19]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))
df_2021

,Title,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham
...,...,...,...,...,...,...
351,Sing 2,Garth Jennings (director/screenplay); Matthew ...,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson
352,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans
353,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel
354,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Denzel Washington,Michael B. Jordan,Chanté Adams,NaN
355,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid

In [20]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [21]:
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','movie_title']]
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Shadow in the Cloud
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,The White Tiger
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Locked Down
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,The Dig
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Outside the Wire
...,...,...,...,...,...
351,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,Sing 2
352,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,The King's Man
353,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,The Tragedy of Macbeth
354,Denzel Washington,Michael B. Jordan,Chanté Adams,NaN,A Journal for Jordan
355,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,American Underdog

In [22]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' '+new_df21['movie_title']

In [23]:
new_df21 = new_df21.dropna(how='any')

In [24]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [25]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,comb
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,outside the wire,Anthony Mackie Damson Idris Emily Beecham Mika...
...,...,...,...,...,...,...
350,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,the matrix resurrections,Keanu Reeves Carrie-Anne Moss Yahya Abdul-Mate...
351,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,sing 2,Matthew McConaughey Reese Witherspoon Scarlett...
352,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
353,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
355,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...

In [26]:
old_df = pd.read_csv('main_data.csv')
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
1249,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,NaN,the matrix resurrections,Keanu Reeves Carrie-Anne Moss Yahya Abdul-Mate...
1250,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,NaN,sing 2,Matthew McConaughey Reese Witherspoon Scarlett...
1251,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,NaN,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
1252,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,NaN,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
1253,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,NaN,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...

In [27]:
final_df = old_df.append(new_df21,ignore_index=True)
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
1579,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,NaN,the matrix resurrections,Keanu Reeves Carrie-Anne Moss Yahya Abdul-Mate...
1580,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,NaN,sing 2,Matthew McConaughey Reese Witherspoon Scarlett...
1581,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,NaN,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
1582,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,NaN,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
1583,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,NaN,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...

In [28]:
final_df.to_csv('main_data1.csv',index=False)